# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
*.sqlite3
db.sqlite3

# Large model files
*.pth
*.pt
*.h5
*.pkl

# Media & static files
media/
staticfiles/
static/

# Secret files
.env
.env.local

# IDE
.vscode/
.idea/

# Logs
*.log
predictions_log.csv